body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* utility classes */
.center-text {
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
}

.primary-btn {
  background-color: #47a386;
  border-radius: 6px;
  font-weight: 700;
  color: white !important;
  padding: 8px 16px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
  transition: 0.2s ease-out;
  border: none;
  cursor: pointer;
}
.primary-btn:hover {
  background-color: #377e67;
}
.secondary-btn {
  background-color: #5d8aa8;
}
.secondary-btn:hover {
  background-color: #46687e;
}
.delete-btn {
  background-color: #be4156;
}
.delete-btn:hover {
  background-color: #8b2e3d;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.new-contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* width: 80%; */
}

.contact-form-container {
  width: 100%;
}

.form-row {
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 20px;
}
.form-row label {
  text-align: center;
}
.form-row input {
  padding: 8px 16px;
  border-radius: 6px;
  /* border: none; */
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.contact-list-container {
  width: 80%;
  flex-direction: column;
  gap: 10px;
}

.contact-container {
  /* background-color: rgba(0, 0, 0, 0.1); */
  width: 40%;
  flex-direction: row;
  height: 60px;
  gap: 10px;
}
.contact-container-left {
  width: 20%;
  /* height: auto; */
}
.contact-container-left img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

/* table styles */
table {
  margin-top: 20px;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  width: 100%;
  /* border-top: 2px solid #eceeef;
  border-bottom: 2px solid #eceeef; */
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
th,
td {
  text-align: left;
  padding: 12px;
  /* border-top: 2px solid #eceeef;
  border-bottom: 2px solid #eceeef; */
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

tbody tr:hover {
  transition: 0.1s ease-out;
  background-color: rgba(0, 0, 0, 0.1);
}
